beautifulsoup4
blinker
certifi
cffi
charset-normalizer
click
cryptography
filelock
Flask
Flask-Cors
gdown
gunicorn
idna
itsdangerous
Jinja2
MarkupSafe
packaging
pdf2image
pdfminer.six
pdfplumber
Pillow
pycparser
PyMuPDF
PyPDF2
PySocks
pytesseract
requests
six
soupsieve
tqdm
urllib3
Wand
Werkzeug
